.Symbol {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.Params {
    display: flex;
    justify-content: center;
}


.DetailsAndGraph {
    display: flex;
    justify-content: center;
}