.Symbol {
    margin-top: 40px;
    text-align: center;
}

.Params {
    display: flex;
    justify-content: center;
}


.DetailsAndGraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.BlockInfo {
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
}

.BlockInput {

}