.StocksTable {

}

.table {
    width: 100%;
    margin: 4px;
}

.table * {

}

.title {
    display: flex;
    justify-content: center;
}

.title div {
    width: 100px;
    text-align: center;
}

.adjClose {
    display: flex;
    flex-direction: column;

}

.adjCloseCol {
    display: flex;
    flex-direction: row;
}

.adjCloseCol div {
/*width: 100px;*/
}


.content {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.textDate {
    font-size: 6px;
}

.textDate.green {
    color: green;
}

.textDate.red {
    color: red;
}

.dataCell {
    margin: 6px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.btnDel {
    width: 15px;
    border: 1px solid;
    border-radius: 6px;
    margin: 0 3px;
}

.btnDel:hover {
    background-color: palevioletred;
    cursor: default;
}